body {
    width: 100vw;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    /* background-color: #fbfbff; */
}

.weather-header { 
    background-color: #1b1b1b;
    text-align: center;
    padding: 20px 0;
}

.weather-header > h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: #e4e3de;
}

.input-group {
    margin-top: 20px;
}

.weather-search,
.search-button,
.cityButton {
    border-radius: 10px !important;
    font-weight: 300;
    outline: none;
}

.search-button {
    background-color: #595f39;
    border: 1px solid #595f39;
}

.search-button:hover,
.cityButton:hover {
    background-color: #1b1b1b;
    outline: none;
}

.cityButton {
    background-color: #c5c6bb;
    border: 1px solid #c5c6bb;
    color: #1b1b1b;
}

.today-weather {
    background-color: #e4e3de;
}

.today-weather,
.forecast-card {
    border: 1px solid #e4e3de;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
}

.today-weather > p,
.forecast-card > p {
    line-height: 0.8rem;
    font-weight: 300;
}

.input-group-append {
    width: 100%;
}

#weather-hr {
    width: 100%;
}