body {
    width: 100vw;
    margin: 0;
    background-color: #fbfbff;
}

:root {
    --card-bk-color: #bbdefb;
    --card-font-color: #292b2e;
    --header-bk-dark-color: #51a8efa4;
    --header-bk-light-color: #3361BA;

}
.weather-header { 
    background: linear-gradient(to right, #1565c0 0%, #bbdefb 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.today-weather {
    border: 1px solid #292b2e;
    border-radius: 20px;
    padding: 20px;
}

.forecast-card {
    padding: 10px;
    background-color: var(--card-bk-color);
    color: var(--card-font-color);
    border-radius: 15px;
}

#search-input {
    width: 100%;
}

.input-group-append {
    width: 100%;
}

#weather-hr {
    width: 100%;
}